body {
    margin: 0;
    padding: 0;
    background-color: #fbe1fd;
}

nav {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 0rem;
}

.heading {
    color: #4f3b5a;
    font-weight: 800;
    font-size: 3.2rem;
}

.btn {
    cursor: pointer;
    padding: 0.5rem 1.0rem;
    border-radius: 0.85rem;
    border: none;
    color: #ffffff;
    font-family: inherit;
    background-color: #B24BF3;
}

.container {
    box-sizing: border-box;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #8b5cf6;
}

.gradient-text {
    background: linear-gradient(90deg, #8b5cf6, #3b82f6, #ec4899);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-container {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.0rem 1.5rem 0rem 3rem;
}

.hero-text {
    width: 60%;
    z-index: 2;
}

.hero-image {
    box-sizing: border-box;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    z-index: 1;
    /* Full viewport height */
    background-image: url("../../public/img/campus\ \(1\).webp");
    background-size: cover;
    /* Fill container, keep aspect ratio */
    background-position-y: 0px;
    background-repeat: no-repeat;
}


.hero-image>img {
    width: auto;
}

.holder {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    height: 28vh;
    row-gap: 0.5rem;
}

.holder>p {
    height: 40%;
    margin: 0;
    align-self: center;
}

.holder>button {
    transition: 200ms;
}

.holder>button:hover {
    transform: scale(1.08);
    background-image: linear-gradient(90deg, #8b5cf6, #3b82f6, #ec4899);
}

.overlay {
    box-sizing: border-box;
    width: 90%;
    position: absolute;
    z-index: 2;
    height: 100vh;
    top: 145px;
    background-image: url(../../public/img/Fresh\ modern\ abstrac.png);
    background-repeat: no-repeat;
}

.category-section {
    width: 100%;
    box-sizing: border-box;
    background-color: #FFFFFF;
    z-index: 3;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.category-holder {
    display: grid;
    width: 85%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    margin-bottom: 5rem;
    justify-content: space-evenly;
}

.categories-card {
    max-width: 15rem;
    color: #4f3b5a;
    font-weight: 600;
    height: 55vh;
    padding: 1rem;
    border-radius: 1.5rem;
    background-color: #FFFFFF;
    box-shadow: 0 10px 25px rgba(178, 75, 243, 0.2);
    transition: 200ms;
}

.categories-card:hover {
    transform: scale(1.05);
}

.categories-card>.img-holder {
    width: 100%;
    height: 30vh;
    overflow: hidden;
    border-radius: 0.75rem;
    display: flex;

}

.categories-card .img-holder>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer-holder {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, #FFFFFF, #7e6b88);
}

.footer {
    background-color: #4f3b5a;
    width: 60%;
    color: #FFFFFF;
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;


}