:root {
    font-family: "Plus Jakarta Sans", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    /* color-scheme: light dark; */
    color: rgba(255, 255, 255, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}



button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
} */
body {
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    min-width: 320px;
    min-height: 100vh;
    background-image: linear-gradient(to right, #FFD6E8, #C7F5E8);
    background-repeat: no-repeat;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4.5rem;
    height: auto;
    background-color: #ffffff;
    box-shadow: 2px 2px 5px #8d8b8b;
    margin-bottom: 2rem;
}

nav>.heading {
    margin: 0;
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: 700;
    color: #B24BF3;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

.heading {
    color: #4f3b5a;
    align-self: flex-start;
    font-weight: 500;
}

.nav-icon-holder {
    display: flex;
    align-items: center;
}

.nav-icon {
    margin-left: 0.5rem;
}

.main-container {
    box-sizing: border-box;
    padding: 1.5rem 3.0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-holder {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 1rem;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    border-radius: 0.75rem;
    width: 80%;
    height: fit-content;
}

.search-holder>.search-input {
    font-family: inherit;
    border: none;
    padding: 0.5rem;
    background-color: inherit;
    width: 100%;
}

.search-input:focus {
    outline: none;
}

.category-holder {
    display: block;
}

.product-holder {
    display: grid;
    box-sizing: border-box;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 2rem;
}

.product-card {
    box-sizing: border-box;
    width: 100%;
    aspect-ratio: 5/6;
    padding: 1.0rem;
    background-color: #ffffff;
    border-radius: 1.0rem;
    color: #000000;
    transition: 200ms;
}

.product-card:hover {
    box-shadow: 0 10px 25px rgba(178, 75, 243, 0.2);
    transform: scale(1.05);
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: inherit;
}

.product>.product-details {
    width: 100%;
    aspect-ratio: 10/3;

}


.product>.product-details>div>.btn {
    justify-self: center;
}


.product>.img-holder {
    width: 100%;
    aspect-ratio: 4.5/5;
    overflow: hidden;
    border-radius: 0.75rem;
    border: 2px solid #ddbbf3;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
}

.product>.img-holder>img {
    width: 100%;
    object-fit: cover;
}

.holder,
.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.btn-grp {
    display: flex;
    justify-content: space-between;
    width: 55%;
}

.btn {
    cursor: pointer;
    padding: 0.5rem 1.0rem;
    border-radius: 0.85rem;
    border: none;
    color: #ffffff;
    font-family: inherit;
    background-color: #B24BF3;
}

a {
    text-decoration: none;
}

.cart {
    border: none;
    background-color: #FFFFFF;
    padding: 0.4rem;
}

.notification {
    display: flex;
    visibility: visible;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-family: inherit;
    width: 0.85rem;
    height: 0.85rem;
    background-color: #B24BF3;
    border-radius: 50%;
    right: 72px;
    top: 15px;
    color: #FFFFFF;
    font-size: 0.75rem;
    border: 2px solid #FFFFFF;
}

.hidden {
    visibility: hidden;
}

.toast {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    background-color: #FFFFFF;
    color: #b24bf3;
    font-family: inherit;
    width: 30%;
    height: 20vh;
    border-radius: 1rem;
    visibility: hidden;
    padding: 0.5rem;
    box-shadow: 0px 10px 25px rgba(150, 63, 204, 0.2);
    position: fixed;
    left: 34%;
    top: 50%;
    z-index: 5;

}

.scrollintoview {
    animation-name: scrollintoview;
    animation-duration: 4500ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-direction: normal;
}

.footer-holder {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;
}

.footer {
    background-color: #4f3b5a;
    width: 60%;
    color: #FFFFFF;
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;


}

.cart-card {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 40%;
    background-color: #FFFFFF;
    color: #000000;
    padding: 2rem;
    font-family: inherit;
    border-radius: 1rem;
    box-shadow: 0px 10px 25px rgba(150, 63, 204, 0.2);
}

.cart-item-holder {
    height: 60vh;
    overflow-y: scroll;
}


.cart-item {
    display: flex;
    font-family: inherit;
}

.cart-item>div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-item>div p {
    font-family: inherit;
    margin: 0;
    text-align: start;
}

.cart-item>div .quantity {
    font-size: 0.9rem;
    font-weight: 200;
}

.cart-item>.img-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    overflow: hidden;
    border: 1px solid rgb(193, 190, 197);
    border-radius: 0.5rem;
    margin-right: 0.5rem;
    height: fit-content;
}

.cart-item>.img-holder>img {
    width: 100%;
    height: auto;
}

.summary {
    font-family: inherit;
    border: 1px solid rgb(193, 190, 197);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 1rem 0rem;
}

.summary-item {
    display: flex;
    justify-content: space-between;
}

.summary-item p {
    margin: 0;
    margin-top: 0.5rem;
}


@keyframes scrollintoview {
    0% {
        visibility: visible;
        opacity: 0;
        transform: translateX(-100rem);
    }

    20% {
        opacity: 0.5;
        transform: translateX(-50rem);
    }

    40% {
        opacity: 1;
        transform: translateX(0rem);
    }

    60% {
        opacity: 1;
        transform: translateX(0rem);
    }

    80% {
        opacity: 0.5;
        transform: translateX(50rem);
    }

    100% {
        opacity: 0;
        transform: translateX(100rem);
    }
}

@media (max-width:576px) {
    /* .product-holder {
        grid-template-columns: 1fr 1fr;
    }

    .product-card {
        width: 50%;
    } */
}

body {
    margin: 0;
    padding: 0;
    background-color: #fbe1fd;
}

nav {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 0rem;
}

.heading {
    color: #4f3b5a;
    font-weight: 800;
    font-size: 3.2rem;
}

.btn {
    cursor: pointer;
    padding: 0.5rem 1.0rem;
    border-radius: 0.85rem;
    border: none;
    color: #ffffff;
    font-family: inherit;
    background-color: #B24BF3;
}

.container {
    box-sizing: border-box;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #8b5cf6;
}

.gradient-text {
    background: linear-gradient(90deg, #8b5cf6, #3b82f6, #ec4899);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-container {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.0rem 1.5rem 0rem 3rem;
}

.hero-text {
    width: 60%;
    z-index: 2;
}

.hero-image {
    box-sizing: border-box;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    z-index: 1;
    /* Full viewport height */
    background-image: url("../../public/img/campus\ \(1\).webp");
    background-size: cover;
    /* Fill container, keep aspect ratio */
    background-position-y: 0px;
    background-repeat: no-repeat;
}


.hero-image>img {
    width: auto;
}

.holder {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    height: 28vh;
    row-gap: 0.5rem;
}

.holder>p {
    height: 40%;
    margin: 0;
    align-self: center;
}

.holder>button {
    transition: 200ms;
}

.holder>button:hover {
    transform: scale(1.08);
    background-image: linear-gradient(90deg, #8b5cf6, #3b82f6, #ec4899);
}

.overlay {
    box-sizing: border-box;
    width: 90%;
    position: absolute;
    z-index: 2;
    height: 100vh;
    top: 145px;
    background-image: url(../../public/img/Fresh\ modern\ abstrac.png);
    background-repeat: no-repeat;
}

.category-section {
    width: 100%;
    box-sizing: border-box;
    background-color: #FFFFFF;
    z-index: 3;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.landing-category-holder {
    display: grid;
    width: 85%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    margin-bottom: 5rem;
    justify-content: space-evenly;
}

.categories-card {
    max-width: 15rem;
    color: #4f3b5a;
    font-weight: 600;
    height: 55vh;
    padding: 1rem;
    border-radius: 1.5rem;
    background-color: #FFFFFF;
    box-shadow: 0 10px 25px rgba(178, 75, 243, 0.2);
    transition: 200ms;
}

.categories-card:hover {
    transform: scale(1.05);
}

.categories-card>.img-holder {
    width: 100%;
    height: 30vh;
    overflow: hidden;
    border-radius: 0.75rem;
    display: flex;

}

.categories-card .img-holder>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Login Page Section*/
form {
    background-color: #FFFFFF;
    padding: 1rem;
    width: 40%;
    aspect-ratio: 1.5/1;
    font-size: inherit;
    color: #4f3b5a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 1rem;
    box-shadow: 0 10px 25px rgba(178, 75, 243, 0.2);
}

.form-group {

    width: 100%;
    box-sizing: border-box;

    padding: 0.5rem;

}

.form-group>label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-group>input {
    width: 100%;
    font-size: 1.0rem;
    aspect-ratio: 10/1;
    font-family: inherit;
    border-radius: 0.2rem;
    border: 1px solid #B24BF3;
    padding: 0.2rem;
    box-sizing: border-box;
}

.form-group>input:focus {
    outline: none;
}